*.swp
*.swo
*.un~
Session.vim
*~
.DS_Store
.Spotlight-V100
._*
.vscode/
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Desktop.ini
*.log
*.bak
*.gho
*.ori
*.orig
*.tmp
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Sessionx.vim
cmake-build-*/
.cproject
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
build/
bin/
obj/
debug/
release/
temp/
tmp/
